.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  margin-bottom: 48px;
}

.Header .logo {
  width: 198px;
  height: 64px;
  margin-bottom: 24px;
}

.Header h1 {
  font-family: "Aesop", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: var(--color-denim-15);
  margin: 0;
  text-align: center;
}

.logo path {
  fill: var(--color-coral-65);
}
